@{
    ViewBag.Title = "Home Page";
}

<h3>Ejemplo 1: jquery post simple</h3>

@Html.TextBox("txtDuplicador")
<input type="button" value="Duplicar!" id="btnDuplicar" />
<br />
Duplicado : <span id="spanDuplicado"></span>

<h3>Ejemplo Jquery.post enviando un objeto</h3>
<div>
    <div>
        <label>Nombre:</label>
        <input type="text" id="txtNombre"/>
    </div>
    <div>
        <label>Edad:</label>
        <input type="number" id="txtEdad"/>
    </div>
    <input type="button" value="Crear" id="btnCrearPersona"/>
</div>
<div id="div-alerta"><div id="mensaje-alerta"></div></div>

<h3>Ejemplo 3 : jqueryy.get - cargar una seccion de la pagina de manera asincrona</h3>
<input type="button" value="Cargar" id="btnCargar" />
<div id="divGet"></div>

<h3>Ejemplo 1: Ajax.Form </h3>

@using (Ajax.BeginForm("Duplicador", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "spanDuplicadoAjax"
}))
{
    <input type="number" name="cantidad" /><input type="submit" value="Duplicar" />
}
Resultado <span id="spanDuplicadoAjax"></span>

<h3>Ejemplo 2: Ajax.Form Loading ,confirm </h3>

@using (Ajax.BeginForm("Duplicador", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "spanDuplicadoAjax2",
    LoadingElementId = "loading",
    Confirm = "Está seguro que desea duplicar este número"
}))
{
    <input type="number" name="cantidad" /><input type="submit" value="Duplicar" />
    <img src = "../../Content/loading.gif" style="display:none;width:40px;" id="loading"/>
}
Resultado <span id="spanDuplicadoAjax2"></span>

<h3>Ejemplo 2: Ajax.Form Funciones de javascript </h3>

@using (Ajax.BeginForm("Duplicador", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "spanDuplicadoAjax3",
    LoadingElementId = "loading2",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnComplete = "onComplete",
    OnFailure = "onFailure"
}))
{
    <input type="number" name="cantidad" /><input type="submit" value="Duplicar" />
    <img src="../../Content/loading.gif" style="display:none;width:40px;" id="loading2" />
}
Resultado <span id="spanDuplicadoAjax3"></span>

@section scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function () {
            //Ejemplo 1: jquery.post simple
            $("#btnDuplicar").click(function () {
                var url = "@Url.Action("Duplicador", "Home")";
                var cantidad = $("#txtDuplicador").val();
                var data = { cantidad: cantidad };

                //jquery 1.5+
                $.post(url, data).done(function (data) {
                    //se ejecuta si la operacion fue un exito
                    $("#spanDuplicado").html(data);

                }).fail(manejarErrorAjax).always(function () {
                    //esta function simpre se ejecuta 
                });
            });

            //se ejecuta si hubo un error
            function manejarErrorAjax(err) {
                //err.responseText es un texto del error (no siempre recomendable mostrar)
                console.log(err.responseText);
            }


            //Ejemplo 2 jquery.post enviando un objeto
            $("#btnCrearPersona").click(function () {
                var url = "@Url.Action("CrearPersona", "Home")";
                var nombre = $("#txtNombre").val();
                var edad = $("#txtEdad").val();
                var data = { Nombre: nombre, Edad: edad };

                $.post(url, data).done(function (data) {
                    if (data.Ok) {
                        $("#div-alerta").removeClass("alert-danger").addClass("alert-success").slideDown(200);
                    }
                    else {
                        $("#div-alerta").removeClass("alert-success").addClass("alert-danger").slideDown(200);
                    }

                    $("#mensaje-alerta").html(data.Mensaje);
                }).fail(manejarErrorAjax);
            });

            //Ejemplo 3: jquery.get
            $("#btnCargar").click(function () {
                $(this).prop("disabled", "disabled");
                var url = "@Url.Action("SeccionPrueba", "Home")";
                $.get(url).done(function (data) {
                    $("#divGet").append(data);
                }).fail(manejarErrorAjax);
            });

            function onBegin(respuesta) {
                console.log("begin");
            }

            function onSuccess(respuesta) {
                console.log("Success");
            }

            function onComplete(respuesta) {
                console.log("Complete");
                console.log(respuesta);
            }

            function onFailure(a) {
                console.log("error");
                console.log(a);
            }
        })
    </script>
    }