@{
    ViewBag.Title = "Home Page";
}

<h3>Ejemplo 1: jquery post simple</h3>

@Html.TextBox("txtDuplicador")
<input type="button" value="Duplicar!" id="btnDuplicar" />
<br />
Duplicado : <span id="spanDuplicado"></span>

@section scripts{
    <script>
        $(function () {
            //Ejemplo 1: jquery.post simple
            $("#btnDuplicar").click(function () {
                var url = "@Url.Action("Duplicador","Home")";
                var cantidad = $("#txtDuplicador").val();
                var data = { cantidad: cantidad };

                //jquery 1.5+
                $.post(url, data).done(function (data) {
                    //se ejecuta si la operacion fue un exito
                    $("#spanDuplicado").html(data);

                }).fail(manejarErrorAjax).always(function () {
                    //esta function simpre se ejecuta 
                });
            });

            //se ejecuta si hubo un error
            function manejarErrorAjax(err) {
                //err.responseText es un texto del error (no siempre recomendable mostrar)
                console.log(err.responseText);
            }
        })
    </script>
    }